body {
    background-color: #303030;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    color: #fff;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #008075;
    color: #fff;
    border-radius: 5px;
}

h1 {
    font-size: 40px;
    margin: 0;
}

h1 a {
    text-decoration: none;
    color: #fff;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0px 10px;
}

nav a {
    display: block;
    padding: 10px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    text-transform: uppercase;
    transition: 0.2s;
}

.sivut a:hover, .sivut a.active, .kieli a:hover {
    background-color: #fff;
    color: #333;
}

.mobile-sivut, #dropdown-sivut {
    display: none;
}

/* Mobiililaitteiden dropdown-valikko */
@media only screen and (max-width: 844px) {
    header {
        padding-left: 24px;
    }
    h1 {
        flex-grow: 1;
    }
    .sivut {
        display: none;
    }
    .mobile-sivut {
        display: flex;
    }
    #dropdown-sivut {
        display: none;
        position: absolute;
        right: 156px;
    }
    h4 {
        font-size: 14px
    }
}

.kieli {
    margin-left: 10px;
    width: 80px;
}

#dropdown-sivut a {
    background-color: #009689;
    text-decoration: none;
    color: #fff;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    text-transform: uppercase;
    align-items: center;
}

h2 {
    font-size: 30px;
    font-family: Consolas, monaco, monospace;
    margin-bottom: 10px;
}

h3 {
    margin-top: 40px;
    font-size: 22px;
    font-family: Consolas, monaco, monospace;
    margin-bottom: 10px;
}

h4 {
    margin: 5px;
}

p {
    margin: 0px 20px;
}

#tietoja img {
    max-width: 80%;
    height: auto;
    width: 80%;
    display: block;
    margin: 20px auto;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

button {
    margin-top: 20px;
    padding: 12px 20px;
    border-radius: 5px;
    background-color: #008075;
    color: #fff;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

#kauppanappi button:hover {
    background-color: #00ccbb;
}

button a {
    text-decoration: none;
    color: #fff;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    text-transform: uppercase
}

footer {
    margin-top: 50px;
    text-align: center;
}


#kauppa .laudat,
#kauppa .tarvikkeet {
    display: flex;
    margin: 0 0;
    justify-content:space-around;
    align-items: center;
}

#kauppa .laudat, #kauppa .tarvikkeet {
    margin-top: 30px;
}

#kauppa .laudat img,
#kauppa .tarvikkeet img {
    max-width: 80%;
    height: auto;
    width: 80%;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

#palautejayhteydenotto button {
    margin: 20px 5px;
}

#palautejayhteydenotto button:hover {
    background-color: #00ccbb;
}

.forms {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 60%;
    margin: 0 auto;
}

.forms input[type="text"],
.forms input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #fff;
    border-radius: 5px;
    box-sizing: border-box;
}

.forms textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #fff;
    border-radius: 5px;
    box-sizing: border-box;
    resize: none;
}

.forms button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #008075;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.forms .slider {
    width: 100%;
    margin-top: 14px;;
    margin-bottom: 30px;
    appearance: none;
    height: 14px;
    border-radius: 3px;
    background-color: #fff;
    outline: none;
}

.forms .slider::-webkit-slider-thumb {
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 30%;
    background-color: #008075;
    cursor: pointer;
}

/*
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣠⣤⣤⣤⣤⣤⣤⣤⣤⣄⡀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⢀⣴⣿⡿⠛⠉⠙⠛⠛⠛⠛⠻⢿⣿⣷⣤⡀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⣼⣿⠋⠀⠀⠀⠀⠀⠀⠀⢀⣀⣀⠈⢻⣿⣿⡄⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⣸⣿⡏⠀⠀⠀⣠⣶⣾⣿⣿⣿⠿⠿⠿⢿⣿⣿⣿⣄⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⣿⣿⠁⠀⠀⢰⣿⣿⣯⠁⠀⠀⠀⠀⠀⠀⠀⠈⠙⢿⣷⡄⠀  
⠀⠀⣀⣤⣴⣶⣶⣿⡟⠀⠀⠀⢸⣿⣿⣿⣆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⣷⠀
⠀⢰⣿⡟⠋⠉⣹⣿⡇⠀⠀⠀⠘⣿⣿⣿⣿⣷⣦⣤⣤⣤⣶⣶⣶⣶⣿⣿⣿⠀
⠀⢸⣿⡇⠀⠀⣿⣿⡇⠀⠀⠀⠀⠹⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠃⠀
⠀⣸⣿⡇⠀⠀⣿⣿⡇⠀⠀⠀⠀⠀⠉⠻⠿⣿⣿⣿⣿⡿⠿⠿⠛⢻⣿⡇⠀⠀
⠀⣿⣿⠁⠀⠀⣿⣿⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⣧⠀⠀
⠀⣿⣿⠀⠀⠀⣿⣿⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⣿⠀⠀
⠀⣿⣿⠀⠀⠀⣿⣿⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⣿⠀⠀
⠀⢿⣿⡆⠀⠀⣿⣿⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⡇⠀⠀
⠀⠸⣿⣧⡀⠀⣿⣿⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⣿⠃⠀⠀
⠀⠀⠛⢿⣿⣿⣿⣿⣇⠀⠀⠀⠀⠀⣰⣿⣿⣷⣶⣶⣶⣶⠶⠀⢠⣿⣿⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⣿⣿⠀⠀⠀⠀⠀⣿⣿⡇⠀⣽⣿⡏⠁⠀⠀⢸⣿⡇⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⣿⣿⠀⠀⠀⠀⠀⣿⣿⡇⠀⢹⣿⡆⠀⠀⠀⣸⣿⠇⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⢿⣿⣦⣄⣀⣠⣴⣿⣿⠁⠀⠈⠻⣿⣿⣿⣿⡿⠏⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠈⠛⠻⠿⠿⠿⠿⠋⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
*/